<!--navbar-->
<div class="nav-container">
    <nav>
        <div class="nav-bar">
            <div class="module left">
                <a href="/">
                    {{#with navBar}}
                        <img class="logo logo-light" alt="Foundry"
                             src="{{#relativePath @file.path logoLightSrc}}{{/relativePath}}">
                        <div class="vnu"><img class="logo logo-dark" alt="Foundry"
                                              src="{{#relativePath @file.path logoDarkSrc}}{{/relativePath}}">
                        </div>
                    {{/with}}
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>

            <div class="module-group right">
                <div class="module left">
                    <ul class="menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                        <li>
                            <a class="btn btn-lg btn-filled"
                                           href="https://codingblocks.com"
                                           target="_blank">Back to main website</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--endnavbar-->
